@model EFMVC.Web.ViewModels.LogOnFormModel

@{
    ViewBag.Title = "Log in";
}

<div class="container wrapper bg-white">
    <h1>
        <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        @ViewBag.Title
    </h1>
    <div class="grid">
        <div class="row">
            
                <h2>Enter your user name and password below.</h2>       

            

            @using (Html.BeginForm((string)ViewBag.FormAction, "Account"))
            {
                @Html.ValidationSummary(false, "Log in was unsuccessful. Please correct the errors and try again.")
                <div class="span6">
                    <fieldset>
                        <legend class="fg-color-greenDark">Log in Form</legend>
                        <div>
                            <h3>@Html.LabelFor(m => m.UserName)</h3>
                            <div class="input-control text warning-state">
                                @Html.TextBoxFor(m => m.UserName, new { required = "required" })
                                @Html.ValidationMessageFor(m => m.UserName)
                                <button class="btn-clear"></button>
                            </div>
                            <h3>@Html.LabelFor(m => m.Password)</h3>
                            <div class="input-control password warning-state">
                                @Html.PasswordFor(m => m.Password, new { required = "required" })
                                @Html.ValidationMessageFor(m => m.Password)
                                <button class="btn-reveal"></button>
                            </div>
                            <div class="input-control checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
                                @Html.LabelFor(m => m.RememberMe, new { @class = "helper" })
                            </div>
                        </div>
                        <input type="submit" class="large primary" value="Log in" />
                    </fieldset>
                </div>
                <div class="span6">
                    @Html.ActionLink("Register", "Register") if you don't have an account.
                </div>
            }
        </div>
    </div>

</div>
